@import "https://fonts.googleapis.com/css?family=Poppins:700";
@font-face {
    font-family: "Daydream";
    src: url('Daydream.ttf') format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Daydream' !important;
    user-select: none;
}

body {
    animation: fadeInAnimation ease-in-out 0.25s forwards;
    background-color: #321a2b !important;
    overflow: hidden;
}

.butter {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;

    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}

.butter>img:hover {
    transform: scale(1.1);
}

.butter>img:active {
    transform: scale(1.2);
}

.butter>img {
    width: 200px;

    cursor: pointer;
    pointer-events: initial;
}

.butter-value {
    color: #f7be44;
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 1.25em;
}

.news-ticker {
    color: #f7be44;
    font-size: 0.6em;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.wrapper {
    display: flex;
    align-items: stretch;
    margin-top: 10px;
}

.sidebar {
    width: 465px;
    height: 525px;

    background-image: url('../textures/ButterPack/gui/inventory/background.png');
    background-size: cover;

    padding: 2em;
    transition: 0.3s all;
}

@media (max-width: 768px) {
    .butter>img {
        width: 150px !important;
    }

    .slot {
        width: 50px !important;
    }

    .sidebar {
        display: none;
    }

    .journal {
        display: none;
    }
}

.journal {
    width: 465px;
    height: 525px;

    background-image: url('../textures/ButterPack/gui/inventory/journal_background.png');
    background-size: cover;

    padding: 2em;
    padding-top: 4em;
    transition: 0.3s all;

    width: 21.25em;
    height: 28em;

    right: 1em;
    top: 10px;

    color: #321a2b;
}

.journal>* {
    margin-left: 2em;
    width: 15em;
}


.butter-per-second {
    color: white;
    font-size: 10px;
    text-align: right;
}

.butter-per-click {
    color: white;
    font-size: 10px;
    text-align: right;
}

.title {
    color: #f7be44;
    font-size: 10px;
    position: absolute;
    right: 0em !important;
}

.menu-left {
    bottom: 1em;
    left: 1em;
}

.menu-right {
    bottom: 1.5em;
    right: 1em;
}

.slot {
    width: 60px;
    cursor: pointer;
}

.shop-wrapper {
    height: 432px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.shop-wrapper::-webkit-scrollbar {
    display: none;
}

.shop-item {
    background-image: url('../textures/ButterPack/gui/inventory/shop.png');
    background-size: cover;

    width: 400px;
    height: 105px;

    margin-bottom: 10px;
}

.shop-heading {
    font-size: 0.8em;
    color: #f7be44;
}

.shop-cost,
.shop-owned {
    font-size: 0.5em;
}

.sidebar-header {
    color: #f7be44;
}

#single {
    position: absolute;
    pointer-events: none;
    width: 30px;
}

.main-crafting {
    max-width: 200px;
    margin-left: 1em;
    margin-top: 1.5em;
}

.main-result {
    position: absolute;
    top: 9.25em;
    right: 4em;
}

.main-inventory {
    margin-top: 2em;
    margin-left: 1em;
}

.main-arrow {
    position: absolute;
    width: 4em;
    left: 15.5em;
    top: 9.25em;
}

.tab {
    width: 4em;
    cursor: pointer;
}

.tabs {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
}

#tooltip {
    position: absolute;
    top: 0;
    left: 0;
    word-spacing: 4px;
    white-space: nowrap;
    line-height: 1.5em;

    margin: 0.125em 0.25em;
    pointer-events: none;
    z-index: 99999;
    display: none;
}

#tooltip {
    color: #FFF;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size: 10px;
}

.canBuy {
    color: #0fd457;
}

.cantBuy {
    color: #d90e00;
}

.unlocked {
    cursor: pointer;
}

.marquee {
    position: absolute;
    top: 10px;
    left: -1.75em;
    width: 500px;
    height: 2em;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

#snackbar {
    transition: 0.5s linear all;
    animation: fadeout 0.5s forwards;
    visibility: hidden;
    background-color: #321a2b;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    color: white;

    position: fixed;

    top: 0;
    left: 0;

    z-index: 99999;

    font-size: 1em;
    width: 100%;
    height: 100%;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
    pointer-events: initial;
}

@keyframes fadein {
    0% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#snackbar img {
    width: 6em;
    margin-right: 0.8em;
}

.achievement-static-text {
    font-size: 1.5em !important;
}

.close-button-achievement {
    position: absolute;
    right: 0.5em;
    top: 0.5em;

    color: #f7be44;
    font-size: 1.25em;

    cursor: pointer;
}

.close-button-achievement:hover {
    color: #f2ab11;
}
