@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: #321a2b;
    overflow: hidden;
}

#number {
    color: #f7be44;
    position: absolute;
    z-index: -100000000000000000;

    right: 40px;
    top: 20px;

    font-family: 'Poppins';
    font-size: 1.5rem;
}

#butter-container {
    position: absolute;

    top: 35vh;
    left: 48vw;
	
    animation: float 4s ease-in-out infinite;
}

#butter {
    width: 13vw;
    cursor: pointer;
}

@keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
}

#butter-container:hover #butter { transform: scale(1.1); }
#butter-container:active #butter { transform: scale(1.2); }

#slot {
	width: 60px;
	height: 60px;
	user-select: none;
    cursor: pointer;
} 

#single{
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	pointer-events: none;
}

#inventory_container{
    position: absolute;
    background: url('../textures/ButterPack/gui/inventory/background.png');
    height: 84.5vh;
    width: 35vw;
    background-size: cover;
    top: 6vh;
    left: 3vw;
    z-index: -100000;
    align-items: center;
}

#inventory {
    display: flex;
    flex-direction: column;
}

#inventory_slots{
    width: 32vw;
    position: absolute;
    bottom: 5vh;
    left: 3.5vw;
	z-index: -1;
}

#crafting_slots {
    display: flex;
    width: 15vw;
    flex-wrap: wrap;
	z-index: 0;
    position: absolute;
    top: 6vh;
    left: 3.5vw;
}

#result{
    position: absolute;
    top: 16.7vh;
    right: 3.5vw;
}

#crafting_arrow{
    width: 6vw;
    left: 19vw;
    top: 15vh;
    position: absolute;
}

#equip_slots{
    position: absolute;
    left: 48.2vw;
    top: 74.5vh;
    z-index: -100000000000000000;
}
/* 
#equip{
    position: absolute;
    right: 2vw;
    top: 60vh;
} */

#equip h1{
    position: absolute;
    left: 48.5vw;
    top: 68vh;
    font-size: 18px;
    color: #45283c;
    font-family: 'Poppins';
    z-index: -100000000000000000;
}

#tab img{
    width: 60px;
    height: 60px;
}

#tab{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8vh;
    left: 34.8vw;
    margin-top: 10px;
    cursor: pointer;
}

#information_image{
    width: 5vw;
    margin-top: 3vh;
}

#information_container{
    padding: 1vmax;
    background-color: #572f4b;
    border-radius: 2vmax;
    width: 20vw;
    height: 30vh;
    text-align: center;
    position: absolute;
    right: 3.5vw;
    bottom: 10vh;
}

#information_container h2{
    font-family: 'Poppins Black', Arial;
    text-transform: uppercase;
    font-size: 20px;
    color: #eb4034;
}

#information_container h3{
    font-family: 'Poppins', Arial;
    font-size: 15px;
    margin-top: 0vh;
    color: white;
    text-transform: uppercase;
}

#shop_container{
    margin-top: 3.6vh;
    margin-left: 3.5vw;
    height: 78vh;
    width: 30vw;
    overflow-y: scroll;
    scrollbar-width: none;
}

#shop_container::-webkit-scrollbar{
  display: none;
}

.shop_item{    
    width: 28vw;
    height: 16vh;
    margin-top: 15px;
    color: white;
    position: relative;
    font-family: 'Poppins';
}

#shop_bg{
    z-index: -10000;
    position: absolute;
    width: 28vw;
}

.shop_item h1{
    font-size: 20px;
}

.shop_item h2{
    font-size: 15px;
}

.shop_details{
    padding: 20px;
    margin-left: 80px;
}

.unlocked{
    cursor: pointer;
}

#tab {
    z-index: 1000000000000000001;
    cursor: pointer;
}

#shop_container {
    z-index: -999999999999999999;
}

.shop_image{
    width: 5vmax;
    position: absolute;
    left: 1.5vw;
    top: 2.5vh;
}

.shop_owned{
    font-size: 4vmax !important;
    position: absolute;
    top: 2vh;
    color: rgba(0, 0, 0, 0.2);
    right: 2vw;
}

.shop_cost{
    color: rgba(0, 0, 0, 0.3);
}

#tooltip {
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Poppins';
    font-size: 14px;
    word-spacing: 4px;
    white-space: nowrap;
    line-height: 1.25em;
    margin: 0.125em 0.25em;
    pointer-events: none;
    z-index: 9999;
    display: none;
}

#tooltip {
    color: #FFF;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#tooltip span.title {
    font-weight: bold;
}

.canBuy{
    color: #0fd457;
}

.cantBuy{
    color: #d90e00;
}

#recipes{
    position: absolute;
    right: 3vw;
    top: 19vh;
    z-index: -1000000000000000;
}

#recipes_bg{
    width: 25vw;
}

#recipe_information{
    position: absolute;
    margin-top: 4vh;
    margin-left: 3vw;
    color: white;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 20px;
    height: 10px;
}

#recipes h1{
    color: #45283c;
    font-size: 24px;
}

#modifierRemovalContainer{
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 100000000000000000000000000000000000000000000000;
}

#modifierRemovalBg{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 45vw;
}

.modalShow{
    animation: modalShow 0.5s forwards;
}

@keyframes modalShow {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

.modalHide{
    animation: modalHide 0.5s forwards;
}

@keyframes modalHide {
    100%{ opacity: 0; }
    0%{ opacity: 1; }
}

#modalText{
    font-family: 'Poppins';
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    position: fixed;
    top: 50%;
    left: 43%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100000000000000000000;
}

#modalImage{
    width: 8vw;
    position: fixed;
    top: 50%;
    left: 66.5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100;
}
